<div class="container-fluid">
  <h2>Registration Form</h2>
  {{ registrationForm.value | json }}

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Username</label>
          <input
            [class.is-invalid]="userName.invalid && userName.touched"
            type="text"
            formControlName="userName"
            class="form-control"
          />
          <div *ngIf="userName.invalid && userName.touched">
            <small *ngIf="userName.errors?.required" class="text-danger"
              >Username is required</small
            >
            <small *ngIf="userName.errors?.minlength" class="text-danger"
              >Username is must be at least 3 characters</small
            >
            <small *ngIf="userName.errors?.frobiddenName" class="text-danger"
              >{{ userName.errors?.frobiddenName.value }} Username not
              allowed</small
            >
          </div>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <button
            type="button"
            class="btn btn-secondary btn-sm float-right"
            (click)="addAlternateEmail()"
          >
            Add email
          </button>
          <input
            [class.is-invalid]="email.invalid && email.touched"
            type="email"
            formControlName="email"
            class="form-control"
          />
          <small
            class="text-danger"
            [class.d-none]="email.valid || email.untouched"
            >Email is required</small
          >
          <div
            formArrayName="alternateEmails"
            *ngFor="let email of alternateEmails.controls; let i = index"
          >
            <input
              type="email"
              class="form-control my-1"
              [formControlName]="i"
            />
          </div>
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="subscribe"
          />
          <label class="form-check-label">Send me promotional offers</label>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Confirm Password</label>
          <input
            type="password"
            [class.is-invalid]="registrationForm.errors?.misMatch"
            formControlName="confirmPassword"
            class="form-control"
          />
          <small class="text-danger" *ngIf="registrationForm.errors?.misMatch"
            >Passwords do not match</small
          >
        </div>
        <div class="row" formGroupName="address">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">City</label>
              <input type="text" formControlName="city" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">State</label>
              <input type="text" formControlName="state" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Postal Code</label>
              <input
                type="text"
                formControlName="postalCode"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <button
          [disabled]="!registrationForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Register
        </button>
        <button
          (click)="loadApiData()"
          class="btn btn-secondary ml-2"
          type="button"
        >
          Load Api
        </button>
      </form>
      <h2>{{ data | json }}</h2>
      <hr />
      <div>
        <button class="btn btn-sm btn-success my-5" (click)="getUserList()">
          Show User List
        </button>
        <div class="container-fluid">
          <h2>Registration Form</h2>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>City</th>
                <th>State</th>
                <th>Postal-code</th>
                <th>Alternative Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDate">
                <td scope="row">{{ user.userName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.address.city }}</td>
                <td>{{ user.address.state }}</td>
                <td>{{ user.address.postalCode }}</td>
                <td>
                  {{ user.alternateEmails | json }}
                  <!-- <div *ngFor="let email of userDate.alternateEmails">
                    <p>{{ email }}</p>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
          <h2>{{ "" }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
